{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

{% extends 'SfsAdminBundle:Core:base.html.twig' %}

{% block content %}
	{{ parent() }}

	{% set formId = random() %}

	{{ form_start(form, { 'attr': {'class': 'form-horizontal form-seperated dashed'} }) }}
		{{ form_errors(form) }}
		
		<div class="col-lg-12">
			<!-- Nav tabs -->

			<div class="tabs">
				{% if form.vars.tabs|length %}
				<div class="tab-title clearfix">
					<ul class="nav nav-tabs" role="tablist">
						{% for key, tab in form.vars.tabs %}
							<li class="{% if loop.index == 1 %}active{% endif %}" role="presentation">
								<a href="#admin-tab-{{ key }}-{{ formId }}" role="tab" data-toggle="tab">{{ tab.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				<!-- Tab panes -->
				<div class="tab-content">
                    {% if form.vars.tabs|length %}
						{% for key, tab in form.vars.tabs %}
							<div id="admin-tab-{{ key }}-{{ formId }}" class="tab-pane fade row {% if loop.index == 1 %}in active{% endif %}" role="tabpanel">
								{% for block in tab.blocks %}
                                    {% set block = form.vars.blocks[block] %}
                                    {% set blockColumnClass = block.classes.column | default('col-md-12') %}
                                    {% set blockPanelClass = block.classes.panel | default('panel-primary') %}

                                    {% include admin_get_template(object, 'create_block_column') %}
								{% endfor %}
							</div>
						{% endfor %}
					{% else %}
						<div id="admin-tab-{{ formId }}" class="tab-pane fade row in active" role="tabpanel">
							{% for block in form.vars.blocks %}
                                {% set blockColumnClass = block.classes.column | default('col-md-12') %}
                                {% set blockPanelClass = block.classes.panel | default('panel-primary') %}

                                {% include admin_get_template(object, 'create_block_column') %}
							{% endfor %}
						</div>
					{% endif %}
					{{ form_rest(form) }}
				</div>
			</div>

			{% block create_actions %}
				{% include 'SfsAdminBundle:CRUD:create_buttons.html.twig' %}
			{% endblock %}
		</div>
	{{ form_end(form) }}
{% endblock %}
