{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

<td class="padding-0">
	<table class="subtable table table-striped mb-0">
		{% for element in admin_get_property(object, key) %}
			<tr>
				<td class="no-border" style="width: 100%;">
					{% if field.relation is defined and field.relation and admin_has_action('read') %}
						<a href="{{ admin_url('read', {'object': element}) }}">
							{{ element }}
						</a>
					{% elseif field.relation is defined and field.relation and admin_has_action('update') %}
						<a href="{{ admin_url('update', {'object': element}) }}">
							{{ element }}
						</a>
					{% else %}
						{{ element }}
					{% endif %}
				</td>
				<td class="no-border">
					{% if field.relation is defined and field.relation %}
						{% if admin_has_action('delete_relation') %}
							<button data-ajax-url="{{ url(admin_route('delete_relation', object|get_type), {'id': object.id, 'property': key,'relationId': element.Id}) }}" data-title="{% trans %}sfs.admin.message.embedded_relation.remove_title{% endtrans %}" data-toggle="ajax-modal" class="btn btn-xs btn-danger btn-equal" type="button">
								<i class="fa fa-remove"></i>
							</button>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
</td>
