{#
	SfsAdminBundle - Symfony2 project
	(c) Ramine AGOUNE <ramine.agoune@solidlynx.com>
#}

{% extends '@MopaBootstrap/Form/fields.html.twig' %}

{% block sfs_admin_field_switch_widget %}
	{% apply spaceless %}
		{% if label is not same as(false) and label is empty %}
			{%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{% endif %}
            <div class="make-switch" {% for attrname, attrvalue in switch_colors %} {{attrname}}="{{attrvalue}}"{% endfor %}>
				<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
            </div>
	{% endapply %}
{% endblock %}

{% block sfs_admin_field_slider_widget %}
	{% apply spaceless %}
		<input type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
	{% endapply %}
{% endblock %}

{% block sfs_admin_field_color_picker_widget %}
	<div class="input-group colorpicker-default" data-format={{ attr['data-format']}}>
		{{ form_widget(form, {'attr': attr}) }}
		<span class="input-group-addon"><i></i></span>
	</div>
{% endblock %}

{% block sfs_admin_field_datetime_picker_widget %}
	{% apply spaceless %}
		{% if widget == 'single_text' %}
			{% set attr = attr|merge({'class': ' form-control'}) %}
			<div class="input-group datetimepicker date">
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
				<input {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
			</div>
		{% else %}
			<div {{ block('widget_container_attributes') }}>
				{{ form_errors(form.date) }}
				{{ form_errors(form.time) }}
				{{ form_widget(form.date) }}
				{{ form_widget(form.time) }}
			</div>
		{% endif %}
	{% endapply %}
{% endblock %}

{% block sfs_admin_field_select_widget %}
    {% if ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
    <div class="input-group">
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
    {% endif %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ widget_form_control_class}) %}

    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>

    {% if ( widget_addon_prepend|default(null) is not null or widget_addon_append|default(null) is not null ) %}
        {% if widget_addon_append|default(null) is not null %}
        {% set widget_addon = widget_addon_append %}
        {{ block('widget_addon') }}
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block sfs_admin_filter_datetime_range_widget %}
	{% set attr = attr|merge({'class': ' form-control'}) %}

	<div class="form-group">
		{{ form_label(form.left_datetime) }}
		<div class="col-sm-9">
			<div class="input-group datetimepicker date pbm">
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
		        {{ form_widget(form.left_datetime, {'attr': attr}) }}
			</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.right_datetime) }}
		<div class="col-sm-9">
			<div class="input-group datetimepicker date">
				<span class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</span>
				{{ form_widget(form.right_datetime, {'attr': attr}) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block choice_widget_expanded %}
	{% apply spaceless %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
		{% if expanded %}
			{% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ horizontal_input_wrapper_class}) %}
		{% endif %}
		{% if widget_type == 'inline-btn' %}
			<div class="btn-group" data-toggle="buttons">
		{% endif %}
		{% for child in form %}
			{% if widget_type not in ['inline', 'inline-btn'] %}
				<div class="{{ multiple ? 'checkbox' : 'radio' }}"
				{%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"{% endif %}>
			{% endif %}
			{% if widget_type == 'inline-btn' %}
				{% set label_attr = label_attr|default({})|merge({'class': 'btn ' ~ label_attr.class|default('')}) %}
			{% endif %}
			{% if child.vars.checked and widget_type == 'inline-btn' %}
				{% set label_attr_copy = label_attr|default({})|merge({'class': 'active ' ~ label_attr.class|default('')}) %}
			{% else %}
				{% set label_attr_copy = label_attr|default({}) %}
			{% endif %}
			{{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('') }}) }}
			<label{% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %} for="{{ child.vars.id }}">
			{% if widget_type == 'inline-btn' or widget_checkbox_label == 'widget'%}
				{{ child.vars.label|trans({}, translation_domain)|raw }}
			{% else %}
				{{ child.vars.label|trans({}, translation_domain) }}
			{% endif %}
			</label>
			{% if widget_type not in ['inline', 'inline-btn'] %}
				</div>
			{% endif %}
		{% endfor %}
		{% if widget_type == 'inline-btn' %}
			</div>
		{% endif %}
	{% endapply %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% apply spaceless %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is defined and label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div
            {%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"
            {%- else %} class="checkbox"
            {%- endif %}>
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
            {% if widget_type == 'inline-btn' %}
                {% set label_attr = attr|default({}) %}
                {% if checked %}
                    {% set label_attr = label_attr|merge({'class': 'active ' ~ attr.class|default('')}) %}
                {% endif %}
            {% endif %}
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            {% if label_render %}
				<label for="{{ id }}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} {%- if not horizontal %} class="checkbox-inline"{% endif %}>
                {% if widget_checkbox_label in ['both', 'widget'] %}
                    {{ label|trans({}, translation_domain)|raw }}
                {% else %}
                    {{ block('form_help') }}
                {% endif %}
                </label>
            {% endif %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            </div>
        {% endif %}
    {% endapply %}
{% endblock checkbox_widget %}

{% block sfs_admin_field_table_entity_widget %}
	<div id="table-entity-{{ form.vars.id }}">
		{% if form.parent.vars.data.id is not null %}
			{{ render(url(admin_route('embedded_relation_list', form.vars.class), {'property': form.vars.property, 'inversedProperty': form.vars.name, 'relationId': form.parent.vars.data.id})) }}

			<script>
				{% if form.vars.ajax_route is not null %}
                var ajax_route_{{ form.vars.property }} = "{{ path(form.vars.ajax_route) }}";
				{% else %}
                var ajax_route_{{ form.vars.property }} = null;
				{% endif %}
			</script>
		{% else %}
			<em class="ita text-info">{% trans %}sfs.admin.message.embedded_relation.create_page{% endtrans %}</em>
		{% endif %}
	</div>
{% endblock %}
